* {
  margin: 0;
}

body {
  background-color: #f5f5f5;
}

.title {
  text-align: center;
  align-items: center;
  padding: 20px 0;
  justify-content: space-between;
  background-color: black;
  color: white;
}

.pageMap {
  display: flex;
  justify-content: space-between;
}

.pageMap__left {
  flex: 0.15;
}

.pageMap__stats {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  height: 100%;
}

.pageMap__right {
  flex: 0.8;
}

.pageMap__topBar {
  display: flex;
  margin-bottom: 20px;
  align-items: stretch;
  justify-content: space-between;
}

.pageMap__dropdown {
  background-color: white;
}

.pageHistory {
  display: flex;
  justify-content: space-evenly;
}

.pageHistory__left {
  flex: 0.6;
}

.graph {
  padding: 20px;
}

@media (max-width: 990px) {
  .pageMap {
    flex-direction: column;
  }

  .pageMap__stats {
    flex-direction: row;
    margin-bottom: 20px;
  }

  .pageHistory {
    flex-direction: column;
  }

  .pageHistory__left {
    margin-bottom: 20px;
  }
}