.infobox {
    flex: 0.3;
    cursor: pointer;
}

.infobox__cases {
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

.infobox--selected {
    border-top: 10px solid;
}

.cases .infobox__cases {
    color: #b2102f;
}
.cases {
    border-color: red;
}

.recovered .infobox__cases {
    color: #00a152;
}
.recovered {
    border-color: green;
}

.deaths .infobox__cases {
    color: #62727b;
}
.deaths {
    border-color: grey;
}

.infobox__total {
    color: #6C757D;
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
}